.widget {
	display: flex;
	flex: 1;
	justify-content: space-between;
	padding: 10px;
	box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
	border-radius: 10px;
	height: 100px;
	.right {
		align-items: flex-end;
	}
	.left {
		align-items: flex-start;
	}
	.left,
	.right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title {
			font-size: 14px;
			color: rgb(160, 160, 160);
			font-weight: bold;
		}
		.counter {
			font-size: 28px;
			font-weight: 300;
		}
		.link {
			font-size: 12px;
			border-bottom: solid 1px grey;
		}
		.percentage {
			display: flex;
			align-items: center;
			font-size: 14px;
			&.positave {
				color: green;
			}
			&.negative {
				color: red;
			}
		}
		.icon {
			font-size: 38px;
			padding: 5px;
			border-radius: 5px;
		}
	}
}
